CompileFlags:
  CompilationDatabase: build
  Add:
    - -DWIN32
    - -D_WIN32
    - -DIMGUI_IMPL_OPENGL_LOADER_GLEW
    - -IC:/Users/MinyoungCho/Documents/DigiPen/GAM250/GAM200_JSLC_Project-P/GAM200_JSLC/include
    - -IC:/Users/MinyoungCho/Documents/DigiPen/GAM250/GAM200_JSLC_Project-P/GAM200_JSLC/ThirdParty/imgui
    - -IC:/Users/MinyoungCho/Documents/DigiPen/GAM250/GAM200_JSLC_Project-P/GAM200_JSLC/ThirdParty/imgui/backends
