CompileFlags:
  CompilationDatabase: build/build-web
  Add:
    - -DGLFW_INCLUDE_NONE
    - -I.
    - -Iinclude
    - -IEngine
    - -IGame
    - -IOpenGL
    - -IThirdParty/imgui
    - -IThirdParty/imgui/backends
    - -IThirdParty/json
